node_modules/

/src/vm/*
!/src/vm/extensions/
/src/lib

/dist/*-[0-9]_[0-9]_[0-9].*
/dist/*-[0-9]_[0-9]_[0-9][0-9].*
/dist/*-[0-9]_[0-9][0-9]_[0-9][0-9].*
/build/

/.envrc
/scratch-gui.strech3
/scratch-gui.xcratch
